<div class="mx-auto winners">
  <h2>Leader board</h2>
  <mat-list role="list">
    <mat-list-item *ngFor="let winner of winners" role="listitem">
      <div class="d-flex justify-content-between w-100">
        <span>{{winner.winner}}</span> <span>{{winner.date | date}}</span>
      </div>
    </mat-list-item>
  </mat-list>
</div>