<div class="container pt-4">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-12 col-lg-4">
          <mat-form-field>
            <mat-label>Pick game mode</mat-label>
            <mat-select>
              <mat-option *ngFor="let item of settings; index as i" (click)="changeGridSettings(i)">
                  Area size: {{item.field}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your name" [(ngModel)]="userName">
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4">
          <button class="btn play" (click)="startGame()" [disabled]="!startBtnEnabled">{{startBtnText}}</button>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12 pt-4">
          <div class="scores text-center">
            <span *ngIf="winner">
              {{winner}} won!
            </span>
          </div>
          
          <div class="dots mt-4 mb-4" *ngIf="dots.length" [ngStyle]="{'width': gridSize*50 + 'px'}">
            <div *ngFor="let dot of dots; index as i" class="dots-item" [ngClass]="{'active': i === currentDotIndex, 'missed': dot.status === 'machine', 'goal': dot.status === 'user'}" [ngStyle]="{'width': 100/gridSize + '%'}" (click)="selectDot(i)"></div>
          </div>
        </div>
      </div>
  
  
    </div>
    <div class="col-12 col-md-6 pb-3">
      <app-game-results [winners]="winners"></app-game-results>
    </div>
  </div>
</div>


