.dots{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
}
.dots-item{
    height: 50px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}
.dots-item.active{
    background-color: #42d8e8;
}
.dots-item.missed{
    background-color: #e85a5f;
}
.dots-item.goal{
    background-color: #00e871;
}

.play{
    margin-top: 0.5em;
    min-width:80px;
    max-width: 100%;
    background-color: #7b8d93;
    color: #fff;
}

.scores{
    text-transform: uppercase;
    min-height: 30px;
}